/* Base Styles */
body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f4f4f4;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* Form General Styles */
form#entry-form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
    gap: 20px; /* Creates space between form elements */
}

/* Input Fields Styles */
form#entry-form input[type="number"],
form#entry-form input[type="text"],
form#entry-form input[type="date"] {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    display: block;
    width: 100%;
    margin: 10px 0; /* Adjusted margin for all inputs */
    opacity: 1;
    -webkit-appearance: none;
    appearance: none;
}

/* Special Styles for Date Input */
input[type="date"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

/* Radio Buttons and Labels (Horizontal Layout) */
.form-radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

form#entry-form input[type="radio"] {
    margin-right: 5px;
}

form#entry-form label {
    margin-right: 15px;
    color: #333;
    font-size: 16px; /* Mobile-friendly font size */
}

/* Button Styles */
form#entry-form button,
#export-btn,
#add-entry-btn {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

form#entry-form button:hover,
#add-entry-btn:hover {
    background-color: #4cae4c;
}

/* Entries List Styles */
#entries-list {
    list-style-type: none;
    padding: 0;
}

#entries-list li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.entry-description {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delete-btn {
    margin-left: auto;
}

/* Chart Container Styles */
#chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Export Options Styles */
#export-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .entry-date, .entry-amount, .entry-description, .delete-btn,
    .form-control input, .form-control button {
        font-size: 14px;
    }

    .entry-description {
        white-space: normal;
        text-overflow: clip;
    }
}

@media (max-width: 480px) {
    body {
        padding: 5px;
    }

    #entries-list li {
        flex-direction: row;
        align-items: center;
    }

    .form-control label, .form-control input, .form-control select, .form-control button {
        width: 100%;
        margin: 5px 0;
    }
}
